#intro {
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-color: #0a0e1488;
  position: relative;
  background-blend-mode: multiply;
}
#intro h1, #intro h2, #intro h3, #intro h4, #intro h5, #intro h6 {
  color: #fff;
}

.container-article {
  margin: 0 auto;
  padding: 2rem 1rem;
  max-width: 878px;
}
